.ul1 {
    width: 350px;
    list-style: upper-roman;
}
.ul2 {
    list-style: lower-roman;
}
div {
    background-color: black;
    color: chartreuse;
    width: 400px;
    height: 72px;
    overflow: auto;
}